body {
  padding: 0;
  margin: 0;
}

#heading-1 {
  font-size: 50px;
}

#enter {
  font-size: 50px;
}

.header {
  color: #eb6123;
  font-family: 'Creepster', cursive;
  display: flex;
  justify-content: space-around;
}

#container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
}


.start {
  font-family: 'Creepster', cursive;
  position: absolute;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gameover {
  font-family: 'Creepster', cursive;
  position: absolute;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start p {
  font-size: 20px;
}

.header {
  position: absolute;
  width: 100vw;
  visibility: visible;
}

